:root {
  font-family: "VT323", "Orbitron", "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
}

body::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shiny-button {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #a1c4fd, #c2e9fb, #ff9a9e);
  background-size: 400% 400%; /* Larger than button for smooth movement */
  animation: shine 2s ease-in-out infinite;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  transition: transform 1s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.shiny-button:hover {
  transform: scale(1.1); /* Slight zoom on hover */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-btns {
  border: none;
  outline: none;
  color: #fff;
  background: #664cff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'VT323', sans-serif;
  letter-spacing: 0.2rem;
  box-shadow: 0 0 10px white; 
  transition: all 3s ease-in-out; 
}

.main-btns:before {
  content: '';
  background: linear-gradient(45deg, #614eff, #b62aff, #d2b0ff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 2s linear infinite;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
}

.main-btns:active {
  color: #000
}

.main-btns:active:after {
  background: transparent;
}

.main-btns:hover:before {
  opacity: 1;
}

.main-btns:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fbc9da;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#bomb-timer-setter {
  background-color: #ff0000;
}

#bomb-start {
  background: url('./assets/img/explosion.jpg');
  color: #000;
}

.bomb-btns {
  background-color: #000;
  color: #ff0000;
}

.bomb-timer {
  font-family: "VT323", monospace !important
}

input[type="text"], input[type="number"] {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0.5rem;
  border: 2px solid #eec7fc;
  border-radius: 5px;
  background-color: #8d7b93;
  color: #eec7fc;
  transition: border-color 0.3s ease-in-out;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 200% 0; }
  80% { background-position: 0 0; }
}
